<ion-header>
  <ion-toolbar color="newblue">
    <ion-title>客户车辆列表</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="takePhoto()">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label>
      <p>{{ dateTime }}</p>
</ion-label>
  <ion-card *ngFor="let item of vericlelist" color="light" (click)="RedirectToDetail(item)">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>{{item.regno}}</ion-label>
            <ion-label>&nbsp;</ion-label>
            <ion-label class="reservationcss" ng-if="item.reservFlag!=''">
                {{item.reservFlag}}
            </ion-label>
          </ion-col>
          <ion-col size="6" class="reservationTime">
            到店时间: {{item.checkintime}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
