:host {
    ion-item {
        --inner-border-width: 0px 0px 0px 0px;
    }

    ion-card{
        border-radius: 0px;
    }

    ion-card-content {
        padding-left: 5px;
        padding-right: 5px;
    }

    ion-label {
        &.details {
            font-size: 16px;
            color : #A6A6A6;
            padding-left: 15%;
        }
    }

    ion-note {
        &.ticket {
            color: #FFF;
            background-color: #28e070;
            border-radius: 10px;
            padding-left: 8px;
            padding-right: 8px;
            font-size: 16px;
        }
    }

}