:host {
    ion-header ion-toolbar {
        padding-top: 0;
    }

    ion-content {
        .title-wrap {
            height: 12.2%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            color: #666666;
        }

        .image-wrap {
            width: 100%;
            height: 68.3%;
            padding: 2% 11% 2% 9%;
            background: url(../../../assets/img/accident/car.png);
            background-size: cover;

            .car-1 {
                height: 10%;
            }

            .car-2 {
                height: 16.6%;
            }

            .car-3 {
                height: 34.9%;
            }

            .car-4 {
                height: 26%;
                display: flex;
                flex-direction: row;

                .car-left {
                    width: 31%;
                }

                .car-middle {
                    width: 38%;
                }

                .car-right {
                    width: 31%;
                }
            }

            .car-5 {
                height: 11.5%;
            }

            .car-2,
            .car-3 {
                display: flex;
                flex-direction: row;

                .car-left {
                    width: 37%;
                }

                .car-middle {
                    width: 28%;

                }

                .car-right {
                    width: 35%;
                }
            }

            .car-3 .car-left,
            .car-3 .car-right {
                display: flex;
                flex-direction: column;

                .top {
                    height: 43%;
                    padding: 4px;

                    div {
                        width: 100%;
                        height: 100%;
                    }
                }

                .bottom {
                    height: 57%;
                    padding: 4px;

                    div {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .accident-cover {
            display: flex;
            flex-direction: column;
            color: #fff;

            div:first-child {
                display: flex;
                justify-content: space-around;
                // align-items: flex-start;
                font-size: 14px;

                div:first-child {
                    white-space: nowrap;
                }
                div:last-child {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;
                    font-size: 20px;
                }

            }

            div:last-child {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                font-size: 14px;
            }
        }

        .car-1,
        .car-2 .car-left,
        .car-2 .car-middle,
        .car-2 .car-right,
        .car-3 .car-middle,
        .car-4 .car-left,
        .car-4 .car-middle,
        .car-4 .car-right,
        .car-5 {
            padding: 4px;

            div {
                width: 100%;
                height: 100%;
            }
        }

        .car-1,
        .car-5 {
            padding: 0 30%;
        }

        .cover-yellow {
            background: rgba(234, 212, 32, 0.7);
        }

        .cover-orange {
            background: rgba(216, 122, 48, 0.7);
        }

        .cover-red {
            background: rgba(203, 24, 24, 0.7);
        }

        .rank-wrap {
            height: 19.5%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 11px;
            color: #666666;

            .rank-content {
                display: flex;
                flex-direction: row;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 20px;
                }
            }

            .yellow {
                background: #EAD420;
            }

            .orange {
                background: #D87A30;
            }

            .red {
                background: #CB1919;
            }
        }
    }

    ion-footer {
        &.main-footer {
            min-height: 80px;
            background-color: #FFF;
            border-top: 1px solid #f4f5f8;
        }

        ion-grid {
            &.footer-grid {
                height: 100%;

            }

            &.footer-grid .footer-grid-row {
                height: 100%;

                .footer-label {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }

        ion-button {
            &.btn-submit {
                width: 140px;
                padding: 3px 10px;
                font-size: 16px;
            }
        }
    }

}