<ion-header>
  <ion-toolbar color="primary">
    <ion-title>事故车</ion-title>
    <ion-buttons slot="start">
      <ion-button size="small" shape="round" color="medium">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title-wrap">
    选择事故车损伤部位
  </div>
  <div class="image-wrap">
    <div class="car-1">
      <div (click)="selectImg('1')"></div>
    </div>
    <div class="car-2">
      <div class="car-left">
        <div (click)="selectImg('2')"></div>
      </div>
      <div class="car-middle">
        <div (click)="selectImg('3')"></div>
      </div>
      <div class="car-right">
        <div (click)="selectImg('4')"></div>
      </div>
    </div>
    <div class="car-3">
      <div class="car-left">
        <div class="top">
          <div (click)="selectImg('5')"></div>
        </div>
        <div class="bottom">
          <div (click)="selectImg('6')"></div>
        </div>
      </div>
      <div class="car-middle">
        <div (click)="selectImg('7')"></div>
      </div>
      <div class="car-right">
        <div class="top">
          <div (click)="selectImg('8')"></div>
        </div>
        <div class="bottom">
          <div (click)="selectImg('9')"></div>
        </div>
      </div>
    </div>
    <div class="car-4">
      <div class="car-left">
        <div (click)="selectImg('10')"></div>
      </div>
      <div class="car-middle">
        <div (click)="selectImg('11')"></div>
      </div>
      <div class="car-right">
        <div (click)="selectImg('12')"></div>
      </div>
    </div>
    <div class="car-5">
      <div (click)="selectImg('13')"></div>
    </div>
  </div>
  <div class="rank-wrap">
    <div class="rank-content">
      <span class="yellow"></span><span>1级</span>
      <span class="orange"></span><span>2级</span>
      <span class="red"></span><span>3级</span>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>