<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button text="返回" defaultHref="home-results"></ion-back-button>
      </ion-buttons>
      <ion-title>
        保养
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="light" *ngFor="let pack of packages" >
      <ion-card-content style="float:left;width:100%">
          <ion-item (click)="doClick($event)">
            <ion-checkbox color="primary" slot="start" (ionChange)="select(pack)" [(ngModel)]="pack.selected"></ion-checkbox>
            <ion-label class="pack-label">{{pack.PackageName}}</ion-label>
            <ion-note *ngIf="pack.Campaign1 != ''" class="ticket" slot="end">优惠券</ion-note>
            <ion-note slot="end" *ngIf="!pack.selected" style="margin-left:2px;margin-right:2px;">￥{{pack.totalPrice}}</ion-note>
            <ion-note slot="end" style="margin-left:2px;margin-right:2px;padding-top:2%;">
              <ion-icon *ngIf="pack.selected" name="arrow-down"></ion-icon>
              <ion-icon *ngIf="!pack.selected" name="arrow-forward"></ion-icon>
            </ion-note>
          </ion-item>
          <div *ngIf="pack.selected && pack.selected != undefined">
            <ion-item *ngFor="let item of pack.PartInfo">
                <ion-checkbox color="primary" slot="start"></ion-checkbox>
                <ion-label class="details">{{item.PartsName}} * {{item.PartsAmount}}</ion-label>
                <ion-note slot="end" style="font-size: 12px;">￥{{item.PartPrice * item.PartsAmount}}</ion-note>
            </ion-item>
            <!-- <ion-item>
              <ion-label class="details-labor">工时费</ion-label>
              <ion-note slot="end" style="font-size: 12px;">￥{{pack.totalLaborPrice}}</ion-note>
            </ion-item> -->
          </div>
          <div *ngIf="pack.selected && pack.selected != undefined">
              <ion-item *ngFor="let item of pack.Laborinfo">
                  <ion-checkbox color="primary" slot="start"></ion-checkbox>
                  <ion-label class="details">{{item.LaborDescription}}</ion-label>
                  <ion-note slot="end" style="font-size: 12px;">￥{{item.LaborPrice * item.LaborAmount}}</ion-note>
              </ion-item>
          </div>
      </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer class="main-footer">
    <ion-grid class="footer-grid">
      <ion-row class="footer-grid-row">
        <ion-col size="7">
          <ion-grid style="height: 100%">
            <ion-row style="padding:3px;">
              维修套餐组个数: {{selectedAmount}}个
            </ion-row>
            <ion-row style="padding:3px;">
              标准维修需时长数: {{selectedHours}}小时
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="5">
          <ion-row>
            <ion-button expand="full" size="large" class="btn-submit" (click)="submit()" color="danger" >
              确定
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>