<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-text color="light">
        <ion-text color="light" class="fw700">加装</ion-text>
      </ion-text>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="返回" defaultHref="home-results"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="footer-grid">
    <ion-row class="footer-grid-row">
      <ion-col size="6" *ngFor="let item of etcItems; let i = index;">
        <div class="card-content" (click)="sumPrice(item)" [ngStyle]="{'background-image': 'url(' + imgList[0] + ')'}">
          <div class="card" [ngClass]="{'active': item.checked}">
            <div *ngIf="item.checked" class="check-icon">
              <ion-icon size="large" name="checkmark-circle"></ion-icon>
            </div>
            <div class="content">
              <div>{{item.PackageName}}</div>
              <div>¥{{item.sumprice}}</div>
            </div>
          </div>
        </div>
        <!-- <ion-card>
          <img src="../../../assets/img/avatar.jpeg" />
          <ion-card-header>
            <ion-card-subtitle>
              <ion-item>
                <ion-checkbox color="primary" (click)="sumPrice(item)" [(ngModel)]="item.checked"></ion-checkbox>
                <ion-label><span>{{item.PackageName}}</span><span>¥{{item.sumprice}}</span></ion-label>
              </ion-item>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="main-footer">
  <ion-grid class="footer-grid">
    <ion-row class="footer-grid-row">
      <ion-col size="7">
        <ion-grid style="height: 100%">
          <ion-row style="padding:3px;height: 100%;">
            <div class="footer-label">总价: ¥{{sumprice}}</div>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="5">
        <ion-row>
          <ion-button shape="round" expand="full" size="large" (click)="submit()" class="btn-submit" color="primary">确定
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>