:host {
    ion-header {
        ion-toolbar {
            padding-top: 0;
        }
    }

    ion-content {
        --background: var(--ion-color-light);

        ion-card {
            margin: 0;

            ion-card-header {
                padding: 0;

                ion-item {
                    --inner-border-width: 0px 0px 0px 0px;
                    font-size: 14px;
                    color: #666666;

                    ion-label {
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                    }
                }
            }
        }
    }

    ion-footer {
        &.main-footer {
            min-height: 80px;
            background-color: #FFF;
            border-top: 1px solid #f4f5f8;
        }

        ion-grid {
            &.footer-grid {
                height: 100%;
            }

            &.footer-grid .footer-grid-row {
                height: 100%;

                .footer-label {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }

        ion-button {
            &.btn-submit {
                width: 140px;
                padding: 3px 10px;
                font-size: 16px;
            }
        }
    }
}