:host {
    ion-content {
        --background: var(--ion-color-light);

        ion-segment {
            border-bottom: 2px solid #2f32a0;
        }

        ion-segment-button {
            // --padding-end: 20px;
            // --padding-start: 20px;
            // --padding-bottom: 5px;
            // --padding-top: 5px;
            // --border-radius: 0;
            // --background-hover: transparent;
            // --background-activated: transparent;
            // --background-checked: transparent;
            // --border-width: 2px;
            // --border-color: transparent;
            // --color-checked: black;
            // border: 0;
            // border-bottom: 2px solid transparent;

            border: 1px solid;
            border-radius: 5px;
            --padding-bottom: 15px;
            --padding-top: 15px;
            margin: 0 10px 10px 0;
        }

        ion-segment-button:last-child {
            margin-right: 0;
        }

        ion-segment-button:hover,
        ion-segment-button:active,
        ion-segment-button:checked {
            border: 1px solid #2f32a0;
        }
    }

}