<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button text="返回" defaultHref="home-results"></ion-back-button>
      </ion-buttons>
      <ion-title>
        检修
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="light" *ngFor="let item of checkpoints" >
        <ion-card-content style="float:left;width:100%" >
            <ion-item (click)="doExpand($event,item)">
              <ion-icon style="color:#2f32a0;" *ngIf="!item.expand" name="add-circle"></ion-icon>
              <ion-icon style="color:#2f32a0;" *ngIf="item.expand" name="remove-circle"></ion-icon>
              <ion-label>&nbsp;&nbsp;{{item.title}}</ion-label>
            </ion-item>
            <div *ngIf="item.expand == true">
                <ion-item *ngFor="let point of item.points">
                    <ion-label class="details">{{point.label}}</ion-label>
                    <ion-checkbox slot="end"></ion-checkbox>
                </ion-item>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>

<ion-footer class="main-footer">
    <ion-grid class="footer-grid">
      <ion-row class="footer-grid-row">
        <ion-col size="7">
          <ion-grid style="height: 100%">
            <ion-row style="padding-top: 8%;">
              预计查修时长: {{selectedHours}}
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="5">
          <ion-row>
            <ion-button class="btn-submit" size="large" color="danger">确定</ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>
