<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button text="返回" defaultHref="home-results"></ion-back-button>
      </ion-buttons>
      <ion-title>
        查修
      </ion-title>
      <ion-buttons slot="primary">
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="stacked" class="item-label">输入问题描述</ion-label>
        <ion-textarea rows="6" cols="20" color="primary" [(ngModel)]="description" placeholder="请选取/输入查修项目">
        </ion-textarea>
    </ion-item>
    <ion-item>
        <ion-label position="stacked" class="item-label">输入工时数</ion-label>
        <ion-input class="input-hours" [(ngModel)]="selectedHours" type="number" placeholder="请输入工时数"></ion-input>
    </ion-item>

    <div class="label-content">
      <ion-chip *ngFor="let item of checkpoints" [color]="item.color" (click)="select(item)">
        <ion-label>
          {{item.PackageName}}
        </ion-label>
      </ion-chip>
    </div>

</ion-content>

<ion-footer class="main-footer">
    <ion-grid class="footer-grid">
      <ion-row class="footer-grid-row">
        <ion-col size="7">
            <ion-grid style="height: 100%;font-size: .9rem;">
              <ion-row style="padding:3px;">
                查修项目个数: {{selectedPoints.length}}个
              </ion-row>
              <ion-row style="padding:3px;">
                查修预计工时: {{selectedHours}}小时
              </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size="5">
          <ion-row>
              <ion-button shape="round" expand="full" size="large" class="btn-submit" (click)="submit()" color="primary" >
                确定
              </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>
